@font-face {
  font-family: "BebasNeueBold";

  src: url("/movee/assets/fonts/BebasNeue-Bold.ttf");
}
@font-face {
  font-family: "Open Sans";

  src: url("/movee/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";

  src: url("/movee/assets/fonts/Montserrat-Regular.ttf");
}
